.lab-results-container {
    padding: 20px;
  }
  
  .lab-results-container table{
    width: 100%;
    border-collapse: collapse;
  }
  .lab-results-container table tr{
    height: 50px;
    border-bottom: 1px solid black;
  }
  .lab-results-container table tr th{
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .lab-results-container table tr td{
    box-sizing: border-box;
    text-align: left;
    padding-left: 20px;
  }