.prescription-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .prescription-container table{
    width: 100%;
    border-collapse: collapse;
  }
  .prescription-container table tr{
    height: 50px;
    border-bottom: 1px solid black;
  }
  .prescription-container table tr th{
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .prescription-container table tr td{
    box-sizing: border-box;
    text-align: left;
    padding-left: 20px;
  }